name: Pull Request lint

on:
  pull_request:
    types: ["opened", "edited", "reopened", "synchronize"]

# This github action requires no permissions
permissions: {}

jobs:
  pull-request-lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      # check out the code so we can test the action
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./
